.bg-black {
    background-color: rgb(40, 40, 40);
}

.text-white {
    color: white;
}

.inline {
    display: inline-block;
}

.side-menu {
    margin: 0px;
    padding: 0px;
}


#control {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: cornsilk;
}